*{
    margin: 0;
    padding: 0;
}
body{
    padding: 0;
}

.btn{
    background-color: #ca7c16;
}

/* Social Icons */
.social-links i{
    color: #dc3545;
}
.social-fb:hover {
    color: #3B5998;
    transition:all .25s;
}
.social-tw:hover {
    color: #4099FF;
    transition:all .25s;
}
.social-gp:hover {
    color: #d34836;
    transition:all .25s;
}
.social-em:hover {
    color: #f39c12;
    transition:all .25s;
}

#main{
    background: url("https://assets-cdn.reedsy.com/discovery/packs/media/discovery-ui/assets/featured-639ad113a8df321711091cc878c88090.svg");
}

nav {
    background: #f3bd75;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%), 0 2px 16px 0 rgb(0 0 0 / 5%);
    font-weight: 500;
    font-size: 16px;
    border-radius: 2rem;
}
.navbar-nav a{
    color: black;
    border-bottom: 4px solid transparent;
}
.navbar-nav a.active{
    border-color: white; /*f09f20*/
}

.btn:hover{
    background-color: #ce9119;
}
.navbar form input{
    border: 2px solid black;
    border-radius: 2rem;
}
#search-btn{
    color: white;
}

.nav-item{
    transition: 0.3s;
}
.nav-item:hover{
    transform: scale(1.05);
}

.page-main{
    /* background: url("https://assets-cdn.reedsy.com/discovery/packs/media/discovery-ui/assets/featured-639ad113a8df321711091cc878c88090.svg"); */
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-position: center;
}

.main-content{
    display: flex;
    flex-direction: column;
    align-items: left;
    color: black;
}
.main-content h1{
    font-size: 44px;
    line-height: 1.272;
}
.main-content p{
    font-size: 18px;
}

#featured-container{
    display: flex;
    flex-wrap: wrap;
}
.featured-card{
    flex-basis: 33.33%;
    padding: 1rem;
    border: none;
    border-color: #101F3C;
    transition:0.5s;
}
.featured-card:hover{
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
}

.featured-card img{
    height: 375px;
}

/* .featured-card-text{
    height: 185px;
} */

#testimonial-heading, #featured-heading, #review-heading{
    text-align: center;
    padding-bottom: 1rem !important;
}


/* Footer */
footer{
    background-color: #d09444;
    color: black;
}
footer a{
    color: #ffffff;
}
.address1{
    color: #ffffff ;
}

/* All_Books.html CSS */
#main-all{
    background: url('https://assets-cdn.reedsy.com/discovery/packs/media/discovery-ui/assets/map-b12bb69d077f60630d2e52b3addd4332.svg');
    background-repeat: no-repeat;
    background-position: center 250px;
    background-size: 870px;
}
@media (min-width: 670px){
    #main-all {
        background-position: 310px 64px
    }
}

@media (min-width: 1024px){
#main-all {
    background-position: 100% 80px;
}
}

/* contact.html CSS */
#contact-form{
    border-radius: 1rem;
}

#contact-form input, #contact-form textarea{
    border: 1px solid black;
    border-radius: 0.5rem;
}

#contact-container{
    max-width: 50%;
}
#contact-form input::placeholder, #contact-form textarea::placeholder{
    color: black;
    font-weight:400;
}
#contact-form .btn{
    color: black;
}
#contact-heading{
    color: black;
}
/* Book Review CSS */
#review-container{
    max-width: 50%;
}
#review-container h2{
    margin-left: auto;
    margin-right: auto;
}
.checked{
    color: #fbbd08;
}
.meta i{
    margin-right: 0.1rem;
}
